@charset "UTF-8";

:root{
    --cor1: #8377D1;
    --cor2: #93BEDF;
    --cor3: #500085;
    --cor4: #8EF9F3;
    --cor5: #5efc8d;
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    height: 100vh;
    background-color: rgba(80, 0, 133, 0.842);
    position: relative;
}
main{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.section01{
    background-image: url(img/phone.jpg);
    background-size: cover;
    background-position: center center;
    height: 25vh;
    margin: -20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
h1{
    padding: 20px 0px;
    margin-top: 25px;
    color: #5efc8d;
    font-size: 2em;
    text-transform: capitalize;
    text-align: center;
    text-shadow: 2px 2px 2px #246437;
}
.section02 > p{
    padding: 15px 0px;
    font-style: italic;
    font-weight: bold;
    color: var(--cor3);
}
div{
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.322);
    border-radius: 5px;
    margin-top: 10px;
}
div > input{
    display: inline-block;
    width: calc(100% - 29px);
    box-sizing: border-box;
    background-color: white;
    border: none;
    padding: 10px;
}
input[type = submit]{
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    background-color: #5efc8d;
    border: none;
    border-radius: 5px;
    font-weight: bolder;
}
input[type = submit]:hover{
    border: 1px solid black;
    background-color: #42ff7b;

}
.esqueci{
    margin-top: 10px;
    background-color: var(--cor3);
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    
}
.section02 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.esqueci:hover{
    background-color: #7100bd;
    border: 1px solid black;
}